// GENERAL COLORS
$color-grey-light: #f8f9fa;
$color-grey: #979dac;
$color-grey-dark: #6f78a9;
$color-violet-light: #ebebf0;
$color-violet: #c9c5a6;
$color-violet-dark: #2c2a4a;
$color-blue-light: #bde0fe;
$color-blue-light-extra: #507dbc;
$color-blue: #677db7;
$color-blue-dark: #0e2e80;
$color-blue-dark-extra: #1e325c;
$color-yellow-light: #fbf8f7;
$color-yellow: #fcbf49;
$color-red-light: #f7ebe8;
$color-red-light-extra: #f1e4e8;
$color-red: #ab2346;
$color-red-dark: #991c1c;
$color-green-light: #9cd08f;
$color-green-light-extra: #fbfff5;
$color-green-light-transparent: #e0e2db;
$color-green: #4f8a92;
$color-green-dark: #707a66;
$color-black-light: #4a4e69;
$color-black-light-extra: #14213d;
$color-black: #1c243c;
$color-black-dark: #040b0d;
$color-brown: #a97576;
